name: integration
on:
  push:
    tags:
      - v*
    branches:
      - master
  pull_request:
jobs:
  cri-o:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v2
        with:
          go-version: '1.16'
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
          key: go-integration-cri-o-${{ hashFiles('**/go.mod') }}
          restore-keys: go-integration-cri-o-
      - run: hack/github-actions-setup
      - run: sudo make install
      - name: Run CRI-O integration tests
        run: |
          cd cri-o
          make all test-binaries
          sudo -E test/test_runner.sh
        env:
          JOBS: '2'

  podman:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v2
        with:
          go-version: '1.15'
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
          key: go-integration-podman-${{ hashFiles('**/go.mod') }}
          restore-keys: go-integration-podman-
      - run: hack/github-actions-setup
      - name: Run Podman integration tests
        run: |
          git clone https://github.com/containers/podman
          cd podman
          make bin/podman
          sudo -E ginkgo \
            -skip 'run.apparmor.disabled|image.trust.show.--json|run.network.bind.to.HostIP' \
            -noColor \
            -v test/e2e/.

  podman-system:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v2
        with:
          go-version: '1.15'
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
          key: go-integration-podman-${{ hashFiles('**/go.mod') }}
          restore-keys: go-integration-podman-
      - run: hack/github-actions-setup
      - name: Run Podman system tests
        run: |
          git clone https://github.com/containers/podman
          cd podman
          make bin/podman
          sudo -E make localsystem
